.land {
    height: 100vh;
    background-color: #222222;
  }
  
  h1 {
    font-weight: 700;
    color: #FFFFFF;
  }
  
  p {
    color: #FFFFFF;
  }
  
  .v-btn {
    font-weight: 700;
    border-radius: 25px;
    text-transform: none;
  }
  
  .v-img {
    border-radius: 25px;
  }
  